body {
  font-family: Arial, sans-serif;
  background-image: url('background.jpg'); 
  background-size: cover;
  color: #ffffff; 
}

.card {
  background-color: rgba(0, 0, 0, 0.9); 
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
}

.card-title {
  color: #ff4500; 
}

.card-text, ol, p strong {
  color: #ffffff; 
}

ol li a {
  color: #e6e600; 
}

ol li:nth-child(1) a {
  color: #28a745; 
}

ol li:nth-child(2) a {
  color: #dc3545; 
}

ol li:nth-child(3) a {
  color: #ffc107; 
}

ol li:nth-child(4) a {
  color: #17a2b8; 
}

ol li:nth-child(5) a {
  color: #6610f2; 
}

ol li:nth-child(6) a {
  color: #6c757d; 
}

ol li:nth-child(7) a {
  color: #666600; 
}

ol li:nth-child(8) a {
  color: #f012be; 
}

ol li:nth-child(9) a {
  color: #00bcd4;
}

ol li a:hover {
  color: #ff4500; 
  transition: color 0.5s ease;
}

p strong + a {
  color: #00ff00; 
}

p strong + a:hover {
  color: #9966ff; 
  transition: color 0.5s ease;
}
